body * {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #F2F2F2;
    background-color: #011126;
    margin: 0;
}

#indexBody {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("Images/Snowboard.jpg") no-repeat bottom center fixed;
    background-size: cover;
}

.light {
    background-color: #8f919d;
}

h1, h2, h3 {
    color: #52F2F2;
}

#enterButton {
    background-color: #52F2F2;
    color: #011126;
}

#indexArticle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0px 10px;
}

a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #6F4E37;
    border-radius: 20px;
    color: #F2F2F2;
}

nav ul li:hover {
    transform: scale(1.3, 1.3);
}

li .indexNav:hover {
    background-color: #6F4E37;
}

li a:hover {
    background-color: #52F2F2;
    color: #011126;
}

.enterContainer:hover {
    transform: scale(1.3, 1.3);
}

#currentNav {
    background-color: #18B6DB;
}

.indexNav {
    background-color: #18B6DB;
}

#indexTitle {
    color: #F2F2F2;
}

.aboutMe {
    height: 975px;
}

img {
    height: 240px;
    width: 240px;
}

#profile {
    list-style-type: none;
}

#formular {
    position: absolute;
    top: 100px;
    left: 200px;
}

#ft-form {
    background-color: #8f919d;
    width: 500px;
    height: 420px;
    padding: 20px;
}

fieldset {
    border: 0px;
}

input {
    float: right;
    width: 300px;
    border: 1px solid black;
}

.noSpace {
    padding-bottom: 0;
}

#messageBox {
    float: none;
    width: 100%;
    height: 200px;
}

.btn {
    width: 100px;
    margin-right: 9px;
}

.btn:hover {
    transform: scale(1.1, 1.1);
    background-color: #6F4E37;
    color: #F2F2F2;
}

ul#kontaktData {
    list-style-type: none;
    padding: 0;
}

.kontaktAndMap {
    position: absolute;
    top: 150px;
    left: 55%;
}

footer {
    background-color: #8f919d;
    width: 100%;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    top: 750px;
}

footer h2 {
    text-align: center;
}

.fa {
    font-size: 80px !important;
    background-color: #8f919d;
    color: #52F2F2;
}

.socialMediaIcons {
    display: flex;
    justify-content: center;
}

.socialMediaIcons a {
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    padding: 0;
}

.portfolioDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

figcaption {
    text-align: center;
}

.werdegangImg {
    float: right;
    display: flex;
    flex-direction: column;
    height: 875px;
    justify-content: space-around;
    margin-right: 50px;
}

.werdegangArticle {
    margin: 20px;
    padding: 20px;
    padding-top: 50px;
}

.byodSupportPic {
    background-size: contain;
}

.vertical {
    border-left: 3px solid #52F2F2;
    height: 200px;
    margin: 10px;
}

.strengthAndWeakness {
    display: flex;
    margin-top: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-68%, 0%)
}

.ability {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.ability h2 {
    border-bottom: 3px solid #52F2F2;
}

.ability * {
    margin-top: 10px;
}